#Q1 create one variable containing following type of data
1) string 
2) list 
3) float
4) tuple

In [13]:
a=[1,"mustaqeem",2+3j,True,23.445,6.6]

In [2]:
type(a)

list

In [5]:
a[0]

1

In [6]:
a[1]

'mustaqeem'

In [7]:
type(a[1])

str

In [8]:
a[4]

23.445

In [9]:
type(a[4])

float

In [10]:
h=3.4,6.8,8

In [11]:
type(h)

tuple

In [ ]:
#Q2 given are some following variables containing data
1)var1=b=''
2) var2=c='[DS,ML,Python]'
3)var3=d=['DS','ML','Python']
4)var4=e=1

In [12]:
b=''

In [13]:
type(b)

str

In [14]:
c='[DS,ML,Python]'

In [15]:
type(c)

str

In [16]:
d=['DS','ML','Python']

In [17]:
type(d)

list

In [18]:
e=1

In [19]:
type(e)

int

In [ ]:
# what will be the data type of the given variable

In [16]:
for n in a : 
    print(type(n))

<class 'int'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'float'>
<class 'float'>

In [17]:
# Q3)explain the use of following operators using an example:
1)/
2)%
3)//
4)**

In [19]:
2/5

0.4

In [ ]:
#1) EXPLANATION
it means 5 divided by 2 and 5 divides 2 completely

In [21]:
4%6

4

In [ ]:
#2)EXPLANATION
it means 4 divided by 6 and answer is remainder

In [22]:
6%4

2

In [ ]:
# it means 6 divided by 4 and answer is remainder

In [23]:
2**5

32

In [ ]:
#3) EXPLANATION
it means 2 is multiple of itself 
in my example 2**5 means 2*2*2*2*2 which is equal to 32

In [24]:
4//4

1

In [ ]:
#4) EXPLANATION 
IF 4 divides 4 then the answer is one 
if 6 divides by 5 then we cannot write it without decimal then first we will take 0
if 4 divides 8 then answer is 2

In [25]:
5//6

0

In [26]:
8//4

2

In [27]:
12//3

4

In [ ]:
#Q4) create a list of length 10 of your choice containing multiple types of data .Using for loop print the element and its data type.

In [28]:
l=[1,2,3,56.78,87.8,True,False,2+7j,"mustaqeem",'siddiqui']

In [29]:
type(l)

list

In [22]:
l=[1,2,3,56.78,87.8,True,False,2+7j,"mustqeem",'siddiqui']

In [8]:
l

[1, 2, 3, 56.78, 87.8, True, False, (2+7j), 'mustqeem', 'siddiqui']

In [ ]:
# first method

In [9]:
for j in l:
    print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'str'>

In [10]:
for j in l:
    print(j)

1
2
3
56.78
87.8
True
False
(2+7j)
mustqeem
siddiqui

In [ ]:
# second method

In [23]:
for j in l :
    print(type(j))
    print (j)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'float'>
56.78
<class 'float'>
87.8
<class 'bool'>
True
<class 'bool'>
False
<class 'complex'>
(2+7j)
<class 'str'>
mustqeem
<class 'str'>
siddiqui

In [24]:
#Q5) using a while loop . verify if the number A is purely divisible by B and if so then how many times it can be divusible.

In [25]:
A= int(input("enter A:"))
B= int(input("  enter B :"))  
count=0
while A%B==0:
    count+=1
    A//B
    if count>0:
        print (f"{A} is divisible by {B} exactly {count}times.")
        
else:
    print ( f"{A} is not divisible by {B}.")

enter A: 79
  enter B : 3

79 is not divisible by 3.

In [1]:
#Q6) Create a list containing 25 int type data .using for loop and if-else condition print if the element is divisible by 3 or not.

In [2]:
M=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [3]:
type(M)

list

In [14]:
for i in M : 
    i+=0
    if i/3:
        print(f"{i} is divisible by {3}")
else:
    print(f"{i} is not divisible by {3}")

1 is divisible by 3
2 is divisible by 3
3 is divisible by 3
4 is divisible by 3
5 is divisible by 3
6 is divisible by 3
7 is divisible by 3
8 is divisible by 3
9 is divisible by 3
10 is divisible by 3
11 is divisible by 3
12 is divisible by 3
13 is divisible by 3
14 is divisible by 3
15 is divisible by 3
16 is divisible by 3
17 is divisible by 3
18 is divisible by 3
19 is divisible by 3
20 is divisible by 3
21 is divisible by 3
22 is divisible by 3
23 is divisible by 3
24 is divisible by 3
25 is divisible by 3
25 is not divisible by 3

In [ ]:
#7) what do you understand about mutable and immutable data types? give example of both showing this property

In [ ]:
# mutable:
example of mutable is list 
you can change the sequence of elements in list 
# immutable:
example of immutable is string
you cannot change the sequence of elements of string if you do then the elements will be change where as in list the elements does not chsnges

In [5]:
N=[1,6,"alakh sir"]

In [6]:
type(N)

list

In [7]:
type(N[2])

str